* {
  margin: 0;
  padding: 0; /*preenchemento interno da caixa*/
  box-sizing: border-box; /*A medida do tamanho da caixa  para ser medida atraves da borda*/
}
body {
  background-image: url(./assets/bg-mobile.jpg); /*coloca a imagem de fundo*/
  background-repeat: no-repeat; /*Não repeti a imagem varias vezes*/
  background-position: top center; /*deixa centralizada no meio*/
  background-size: cover; /*preenche todo espaço visivel/tela toda*/

  background: var(--bg-url) no-repeat top center/cover; /*abreviação de tudo acima*/
}

body * {
  font-family: "Inter", sans-serif; /*adiciona a fonte a todas as letras dentro do body por causa do "*"*/
  color: var(--text-color); /*adiciona uma cor as letras*/
  text-align: center; /*Alinhei o texto no centro*/
}

#container {
  width: 360px; /* Largura*/
  margin: 56px auto 0px;

  /*height: 712px; /*Altura*/

  /*border: 1px solid red; A borda e sua espessura*/
  /*margin: auto; Alinha o retangulo no meio*/
  /*margin-top: 56px;/*distancia entre a foto e a borda do inicio do site*/

  /*padding: 100px; preenchemento interno da caixa*/
  padding: 0 24px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px; /*Largura da imagem*/
  display: block; /*Ativar para centralizar a imagem, pega o elemento e da toda a largura de dela*/
  margin: auto;
}

#profile p {
  font-weight: 500; /*É o negrito*/
  line-height: 24px; /*Altura da linha*/
  margin-top: 8px; /*distancia entre a foto eo @*/
}
/*O margin é o espaço entre um elemento e seus vizinhos, enquanto o padding é o espaço entre o conteúdo do elemento e sua borda*/

/*Switch*/
#switch {
  position: relative; /*vai deixar o botao na caixa */
  width: 64px;
  margin: 0 auto; /*Deixa o botão no centro*/
  margin: 4px auto;
}
#switch button {
  width: 32px; /*Largura do botão*/
  height: 32px; /*Altura*/
  background: white var(--switch-bg-url) no-repeat top center/cover;
  border: 0;
  border-radius: 50%;

  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  z-index: 1;
}
#switch span {
  display: block;
  width: 64px; /*Largura do botão*/
  height: 24px; /*Altura*/
  /* surface-color-dark-mode */

  background: var(--surface-color);
  /* stroke-color-dark-mode */

  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  border-radius: 9999px;
}
.light #switch button {
  left: initial;
  right: 0;
}
/*Links*/
ul {
  list-style: none; /*Tira os pontos da lista*/
  flex-direction: column; /*Ele faz com que os elementos fiquem um a baixo do outro*/
  display: flex; /*Ele deixa os elementos dentro da caixa , fiquem um ao lado ou em baixo do outro*/

  gap: 16px; /*Coloca espaço entre os elementos*/
  padding: 24px 0px;
}

ul li a {
  border: 1px solid var(--stroke-color); /*Adiciona uma caixa a todos os links dentro da lista*/
  justify-content: center; /*Alinhou os elemntos no centro*/
  display: flex; /*Deixa o elemento dentro da caixa grande*/
  align-items: center; /*Alinhe os elementos na linha imaginaria do centro da caixa*/
  padding: 16px 24px; /*o 16 é a altura , eo 24 a largura da caixa*/

  background: var(--surface-color); /*Coloca cor na caixa*/
  border-radius: 8px; /*raio das bordas*/

  backdrop-filter: blur(4px); /*coloca um desfoco na caixa*/

  text-decoration: none; /*Tira a linha de baixo das palavras*/
  font-weight: 500;

  transition: background 0.2s;
}

/*pseudo-selector Aplica as coisas quando eu passar o mouse em cima*/
ul li a:hover {
  background: var(--surface-color-hover); /*Coloca cor na caixa*/
  border: 1.5px solid var(--text-color); /*Adiciona uma caixa a todos os links dentro da lista*/
}
#insta {
  text-decoration: none; /*Tira a linha de baixo das palavras*/
}
/**/
/*Configurando o icone*/
#social-Links {
  display: flex;
  gap: 16px; /*Distancia entre os icones*/
  padding: 24px 0px; /*preenchimento da caixa o 24 em cima e baixo eo 0 nas laterais*/
  font-size: 24px; /*tamanho do icone*/
  justify-content: center; /*Alinha os icones no meio quando o display:flex estiver ativo*/
}

#social-Links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition: background 0.2s;
  border-radius: 50%; /*Bolinha*/
}

/*Passar o mouse em cima e mudar*/
#social-Links a:hover {
  background-color: var(--highlight-color); /*Coloca cor na caixa*/
}

footer {
  padding: 24px 0px;
  text-align: center;
  font-size: 14px;
}
/**/
/*Trocando da tela preta para a branca*/
:root {
  --text-color: white; /*tudo que eu usar essa variavel vai ficar branco*/
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgb(73, 74, 75);
  --switch-bg-url: url(./assets/moon-stars.svg);
  --avatar-bg-url: url(./assets/avatar-dark.png);
}
.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(255, 255, 255, 0.1);
  --highlight-color: rgba(255, 255, 255, 0.05);
  --switch-bg-url: url(./assets/sun.svg);
  --avatar-bg-url: url(./assets/avatar-light.png);
}
